@page "/meutodo"
@using blazorizeApp.Shared

<Container>
<Column ColumnSize="ColumnSize.Is12">

<Table Bordered="true" Hoverable="true">
    <TableHeader ThemeContrast="ThemeContrast.Dark">
        <TableRow>
            <TableHeaderCell><h3>Todo list  tarefas restantes: (@afazeres.Count(todo => !todo.Done))</h3></TableHeaderCell>
            
            
        </TableRow>
    </TableHeader>
    <Addons>
        <Addon AddonType="AddonType.Body">
            <TextEdit Placeholder="Digite o item a ser feito" @bind-Text="newTodo" />
        </Addon>
        <Addon AddonType="AddonType.End">
            <Button Color="Color.Secondary" @onclick="OnButtonClick">Add Todo</Button>
        </Addon>
    </Addons> 
        
    <TableBody>
        @foreach (var todo in afazeres)
        {
            
            <TableRow>
                
                <TableRowCell><Check TValue="bool" @bind-Checked="@todo.Done" Inline="true">Done</Check>@todo.Title</TableRowCell>
                
            </TableRow>

        }

    </TableBody>
    <TableFooter>
       <Buttons>
            <Button Color="Color.Secondary">All</Button>
            <Button Color="Color.Secondary">Active</Button>
            <Button Color="Color.Secondary">Completed</Button>
        </Buttons>
    </TableFooter>
    
</Table>


        
</Column>
</Container>    


@code {
    

    private string newTodo{ get; set; }
    public bool trocar;
   
    
    private void OnButtonClick()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            afazeres.Add(new TodoEntity { Title = newTodo });
            newTodo = string.Empty;
        }
    }

    

    

    public List<TodoEntity> afazeres = new List<TodoEntity>();
}

